module = BTHOME_SENSORS
module-str = bthome-sensors
source "subsys/logging/Kconfig.template.log_config"

rsource "Kconfig.light"
rsource "Kconfig.battery"
rsource "Kconfig.temp-humidity"


config BTHOME_ENERGY_METER_SENSOR
	bool "Energy meter"
	default y
	depends on DT_HAS_ENERGY_TRACKER_SPECIAL_ENABLED
	select GPIO
        select COMPARATOR
	help
	  My very own energy tracker using the light sensor with enable pin.


config BTHOME_BINARY_GPIO_SENSOR
	bool "Binary sensor from GPIO"
	default y
	depends on DT_HAS_BTHOME_BINARY_GPIO_ENABLED
	select GPIO
	help
	  A GPIO based binary sensor.